# Dependencias
node_modules/

# Build
dist/
dist-ssr/
*.local

# Entornos
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# n8n
n8n/.data/
n8n/.env
n8n/google-service-account.json

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
storage-debug.log
